ul li a {
    color: #A6A8AD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}


.box {
    padding: 8px 21px;
    border-radius: 32px;
border: 1px solid #FFF;
background: #FFF;
color: #121214;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18.4px; /* 115% */
}

.box2 {
    color: #A6A8AD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.img {
    background: url(./img/IMAGE\ \(2\).svg);
    width: 1280px;
height: 744px;
flex-shrink: 0;
}


.box3 {
    color: #FFF;
font-family: Roboto;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 72px; /* 100% */
letter-spacing: 1.08px;
}

.box4 {
    width: 125px;
height: 56px;
    border-radius: 8px;
background: #03F;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


.box5 {
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
}


.box6 {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 128.571% */
}


.box7 {
    color: #FFF;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 128.571% */
}


.box8 {
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


.box9 {

    width: 159px;
height: 36px;
border-radius: 8px;
background: #03F;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.box10 {
    width: 140px;
height: 36px;
border-radius: 8px;
background: #03F;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


.box11 {
    color: #FFF;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 128.571% */
}


.box12 {
    background: url(./img/Rectangle.png);
    width: 361px;
height: 453px;
}


.box14 {
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 125% */
letter-spacing: 0.3px;
}

.footer {
height: 78px;
flex-shrink: 0;
    background: #344346;
}

.box15 {
height: 753px;
flex-shrink: 0;
}

.box16 {
    height: 482px;
}
.box17 {
    height: 481px;
}

.box18 {
    height: 529px;
}


.section {
    height: 744px;
}